/*	Error Pages Styles  */
.error_page_content{
	.erro_code{
		color: $title-color;
		font-family: $title-font;
		font-weight: 700;
		line-height: 289px;
		font-size: 200px;
		@include media-breakpoint-down(sm){
			font-size: 150px;
		}
	}
}