@{
    ViewData["Title"] = "Manage Service";
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="bidding, fiverr, freelance marketplace, freelancers, freelancing, gigs, hiring, job board, job portal, job posting, jobs marketplace, peopleperhour, proposals, sell services, upwork">
    <meta name="description" content="Freeio - Freelance Marketplace HTML Template">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ace-responsive-menu.css">
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slider.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/ud-custom-spacing.css">
    <link rel="stylesheet" href="~/css/dashbord_navitaion.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Title -->
    <title>Freeio - Freelance Marketplace HTML Template</title>
    <!-- Favicon -->
    <link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" />
    <!-- Apple Touch Icon -->
    <link href="~/images/apple-touch-icon-60x60.png" sizes="60x60" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-180x180.png" sizes="180x180" rel="apple-touch-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <div class="preloader"></div>

        <!-- Main Header Nav -->
        <header class="header-nav nav-innerpage-style menu-home4 dashboard_header main-menu">
            <!-- Ace Responsive Menu -->
            <nav class="posr">
                <div class="container-fluid pr30 pr15-xs pl30 posr menu_bdrt1">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-lg-auto">
                            <div class="text-center text-lg-start d-flex align-items-center">
                                <div class="dashboard_header_logo position-relative me-2 me-xl-5">
                                    <a href="index.html" class="logo"><img src="~/images/header-logo-dark.svg" alt=""></a>
                                </div>
                                <div class="fz20 ml90">
                                    <a href="#" class="dashboard_sidebar_toggle_icon vam"><img src="~/images/dashboard-navicon.svg" alt=""></a>
                                </div>
                                <a class="login-info d-block d-xl-none ml40 vam" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span class="flaticon-loupe"></span></a>
                                <div class="ml40 d-none d-xl-block">
                                    <div class="search_area dashboard-style">
                                        <input type="text" class="form-control border-0" placeholder="What service are you looking for today?">
                                        <label><span class="flaticon-loupe"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Search Modal -->

        <!-- Mobile Nav  -->

        <div class="dashboard_content_wrapper">
            <div class="dashboard dashboard_wrapper pr30 pr0-xl">
                <div class="dashboard__sidebar d-none d-lg-block">
                    <div class="dashboard_sidebar_list">
                        <p class="fz15 fw400 ff-heading pl30">Start</p>
                        <div class="sidebar_list_item">
                            <a href="~/HomeWeb" class="items-center"><i class="flaticon-home mr15"></i>Trang chủ</a>
                        </div>
                        <div class="sidebar_list_item">
                            <a href="page-dashboard-save.html" class="items-center"><i class="flaticon-like mr15"></i>Saved</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="page-dashboard-message.html" class="items-center"><i class="flaticon-chat mr15"></i>Message</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="page-dashboard-reviews.html" class="items-center"><i class="flaticon-review-1 mr15"></i>Reviews</a>
                        </div>
                        <div class="sidebar_list_item">
                            <a href="page-dashboard-invoice.html" class="items-center"><i class="flaticon-receipt mr15"></i>Invoice</a>
                        </div>
                        <div class="sidebar_list_item">
                            <a href="page-dashboard-payouts.html" class="items-center"><i class="flaticon-dollar mr15"></i>Payouts</a>
                        </div>
                        <p class="fz15 fw400 ff-heading pl30 mt30">Tổ chức và quản lý</p>
                        <div class="sidebar_list_item ">
                            <a href="~/UserDashboard/ManageService" class="items-center -is-active"><i class="flaticon-presentation mr15"></i>Quản lý dịch vụ</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="~/UserDashboard/ManageJob" class="items-center "><i class="flaticon-briefcase mr15"></i>Quản lý công việc</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="/Blogs/Create" class="items-center"><i class="flaticon-content mr15"></i>Đăng bài</a>
                        </div>
                        <p class="fz15 fw400 ff-heading pl30 mt30">Tài khoản</p>
                        <div class="sidebar_list_item ">
                            <a href="https://localhost:7117/Identity/Account/Manage" class="items-center"><i class="flaticon-photo mr15"></i>My Profile</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="https://localhost:7117/Identity/Account/Manage/ChangePassword" class="items-center"><i class="flaticon-photo mr15"></i>Đổi mật khẩu</a>
                        </div>
                        <div class="sidebar_list_item ">
                            <a href="https://localhost:7117/Identity/Account/Login" class="items-center"><i class="flaticon-logout mr15"></i>Đăng xuất</a>
                        </div>
                    </div>
                </div>
                <div class="dashboard__main pl0-md">
                    <div class="dashboard__content hover-bgc-color">
                        <div class="row pb40">
                            <div class="col-lg-12">
                                <div class="dashboard_navigationbar d-block d-lg-none">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="dashboard_title_area">
                                    <h2>QUẢN LÝ DỊCH VỤ</h2>
                                    <p class="text">Đăng tải hoặc quản lý dịch vụ đã đăng</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-lg-end">
                                    <a href="~/Services/Create" class="ud-btn btn-dark default-box-shadow2">Thêm dịch vụ<i class="fal fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                                    <div class="navtab-style1">
                                        <nav>
                                            <div class="nav nav-tabs mb30" id="nav-tab2" role="tablist">
                                                <button class="nav-link active fw500 ps-0" id="nav-item1-tab" data-bs-toggle="tab" data-bs-target="#nav-item1" type="button" role="tab" aria-controls="nav-item1" aria-selected="true" data-status="ChuaDuyet">Chưa duyệt</button>
                                                <button class="nav-link fw500" id="nav-item2-tab" data-bs-toggle="tab" data-bs-target="#nav-item2" type="button" role="tab" aria-controls="nav-item2" aria-selected="false" data-status="DaDuyet">Đã duyệt</button>
                                                <button class="nav-link fw500" id="nav-item3-tab" data-bs-toggle="tab" data-bs-target="#nav-item3" type="button" role="tab" aria-controls="nav-item3" aria-selected="false" data-status="DangThucHien">Đang thực hiện</button>
                                                <button class="nav-link fw500" id="nav-item4-tab" data-bs-toggle="tab" data-bs-target="#nav-item4" type="button" role="tab" aria-controls="nav-item4" aria-selected="false" data-status="DaHoanThanh">Đã hoàn thành</button>
                                                <button class="nav-link fw500" id="nav-item5-tab" data-bs-toggle="tab" data-bs-target="#nav-item5" type="button" role="tab" aria-controls="nav-item5" aria-selected="false" data-status="KhongDuyet">Không được duyệt</button>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-item1" role="tabpanel" aria-labelledby="nav-item1-tab">
                                                <div class="packages_table table-responsive">
                                                    <table class="table-style3 table at-savesearch">
                                                        <thead class="t-head">
                                                            <tr>
                                                                <th scope="col">TIÊU ĐỀ</th>
                                                                <th scope="col">DANH MỤC</th>
                                                                <th scope="col">LOẠI/GIÁ TIỀN</th>
                                                                <th scope="col">HÀNH ĐỘNG</th>
                                                            </tr>
                                                        </thead>

                                                        @await Component.InvokeAsync("UserManageService_ChuaDuyet")

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-item2" role="tabpanel" aria-labelledby="nav-item2-tab">
                                                <div class="packages_table table-responsive">
                                                    <table class="table-style3 table at-savesearch">
                                                        <thead class="t-head">
                                                            <tr>
                                                                <th scope="col">TIÊU ĐỀ</th>
                                                                <th scope="col">DANH MỤC</th>
                                                                <th scope="col">LOẠI/GIÁ TIỀN</th>
                                                                <th scope="col">HÀNH ĐỘNG</th>
                                                            </tr>
                                                        </thead>

                                                        @await Component.InvokeAsync("UserManageService_DaDuyet")

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-item3" role="tabpanel" aria-labelledby="nav-item3-tab">
                                                <div class="packages_table table-responsive">
                                                    <table class="table-style3 table at-savesearch">
                                                        <thead class="t-head">
                                                            <tr>
                                                                <th scope="col">TIÊU ĐỀ</th>
                                                                <th scope="col">DANH MỤC</th>
                                                                <th scope="col">LOẠI/GIÁ TIỀN</th>
                                                                <th scope="col">HÀNH ĐỘNG</th>
                                                            </tr>
                                                        </thead>

                                                        @await Component.InvokeAsync("UserManageService_DangThucHien")

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-item4" role="tabpanel" aria-labelledby="nav-item4-tab">
                                                <div class="packages_table table-responsive">
                                                    <table class="table-style3 table at-savesearch">
                                                        <thead class="t-head">
                                                            <tr>
                                                                <th scope="col">TIÊU ĐỀ</th>
                                                                <th scope="col">DANH MỤC</th>
                                                                <th scope="col">LOẠI/GIÁ TIỀN</th>
                                                                <th scope="col">HÀNH ĐỘNG</th>
                                                            </tr>
                                                        </thead>

                                                        @await Component.InvokeAsync("UserManageService_DaHoanThanh")

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-item5" role="tabpanel" aria-labelledby="nav-item5-tab">
                                                <div class="packages_table table-responsive">
                                                    <table class="table-style3 table at-savesearch">
                                                        <thead class="t-head">
                                                            <tr>
                                                                <th scope="col">TIÊU ĐỀ</th>
                                                                <th scope="col">DANH MỤC</th>
                                                                <th scope="col">LOẠI/GIÁ TIỀN</th>
                                                                <th scope="col">HÀNH ĐỘNG</th>
                                                            </tr>
                                                        </thead>

                                                        @await Component.InvokeAsync("UserManageService_KDuocDuyet")

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="dashboard_footer pt30 pb30">
                        <div class="container">
                            <div class="row align-items-center justify-content-center justify-content-md-between">
                                <div class="col-auto">
                                    <div class="copyright-widget">
                                        <p class="mb-md-0">© Freeio. 2023 CreativeLayers. All rights reserved.</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="footer_bottom_right_btns at-home8 text-center text-lg-end">
                                        <ul class="p-0 m-0">
                                            <li class="list-inline-item bg-white">
                                                <select class="selectpicker show-tick">
                                                    <option>US$ USD</option>
                                                    <option>Euro</option>
                                                    <option>Pound</option>
                                                </select>
                                            </li>
                                            <li class="list-inline-item bg-white">
                                                <select class="selectpicker show-tick">
                                                    <option>English</option>
                                                    <option>Frenc</option>
                                                    <option>Italian</option>
                                                    <option>Spanish</option>
                                                    <option>Turkey</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!-- Wrapper End -->
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/jquery.mmenu.all.js"></script>
    <script src="~/js/ace-responsive-menu.js"></script>
    <script src="~/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/js/dashboard-script.js"></script>
    <!-- Custom script for all pages -->
    <script src="~/js/script.js"></script>

    <script src="~/js/serviceStatus.js"></script>
</body>
</html>