@model WebApp_KetNoiViecLam.Models.Category
<section class="hero-home2 pb100-xs">
    <div class="container">
        <div class="row mb60 mb0-xl">
            <div class="col-xl-7">
                <div class="pr30 pr0-lg mb30-md position-relative">
                    <h1 class="animate-up-1 mb25 text-white">Tìm kiếm công việc hoặc dịch vụ<br class="d-none d-xl-block">phù hợp với nhu cầu của bạn!</h1>
                    <p class="text-white animate-up-2">Làm việc với những người tài năng với mức giá phải chăng nhất để đạt được hiệu quả cao nhất <br class="d-none d-lg-block">Tiết kiệm thời gian và tiền bạc của bạn</p>
                    <div class="advance-search-tab bgc-white p10 bdrs4-sm bdrs60 banner-btn position-relative zi1 animate-up-3 mt30">
                        <div class="row">
                            <div class="col-md-5 col-lg-6 col-xl-6">
                                <div class="advance-search-field mb10-sm">
                                    <form class="form-search position-relative">
                                        <div class="box-search">
                                            <span class="icon far fa-magnifying-glass"></span>
                                            <input class="form-control" type="text" name="search" placeholder="Bạn đang tìm kiếm cái gì?">
                                            <div class="search-suggestions">
                                                <h6 class="fz14 ml30 mt25 mb-3">Popular Search</h6>
                                                <div class="box-suggestions">
                                                    <ul class="px-0 m-0 pb-4">
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app development</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app builder</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile legends</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app ui ux design</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile game app development</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app design</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xl-3">
                                <div class="bselect-style1 bdrl1 bdrn-sm">
                                    <div class="dropdown bootstrap-select" style="width: 100%;">
                                        <select class="selectpicker" data-width="100%">
                                            <option>Chọn theo danh mục</option>
                                            <option data-tokens="Graphics&amp;Design">Graphics &amp; Design</option>
                                            <option data-tokens="DigitlMarketing">Digital Marketinbtn dropdown-toggle btn-lightg</option>
                                            <option data-tokens="Writing&amp;Translation">Writing &amp; Translation</option>
                                            <option data-tokens="Video&amp;Animation">Video &amp; Animation</option>
                                            <option data-tokens="Music&amp;Audio">Music &amp; Audio</option>
                                            <option data-tokens="Programming&amp;Tech">Programming &amp; Tech</option>
                                        </select><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-3">
                                <div class="text-center text-xl-start">
                                    <button class="ud-btn btn-thm w-100 bdrs60" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20 animate-up-4">
                        <div class="col-xl-9">
                            <div class="row justify-content-between">
                                <div class="col-6 col-sm-3 funfact_one at-home2-hero">
                                    <div class="details">
                                        <ul class="ps-0 mb-0 d-flex">
                                            <li><div class="timer">834</div></li>
                                            <li><span>M</span></li>
                                        </ul>
                                        <p class="text-white mb-0">Tổng số người dùng</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3 funfact_one at-home2-hero">
                                    <div class="details">
                                        <ul class="ps-0 mb-0 d-flex">
                                            <li><div class="timer">732</div></li>
                                            <li><span>M</span></li>
                                        </ul>
                                        <p class="text-white mb-0">Tổng số Review</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3 funfact_one at-home2-hero">
                                    <div class="details">
                                        <ul class="ps-0 mb-0 d-flex">
                                            <li><div class="timer">90</div></li>
                                            <li><span>M</span></li>
                                        </ul>
                                        <p class="text-white mb-0">Yêu cầu đã nhận</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3 funfact_one at-home2-hero pe-0">
                                    <div class="details">
                                        <ul class="ps-0 mb-0 d-flex">
                                            <li><div class="timer">236</div></li>
                                            <li><span>M</span></li>
                                        </ul>
                                        <p class="text-white mb-0">Dự án đã hoàn thành</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 d-none d-xl-block position-relative">
                <img src="~/images/about/about-1.png" alt="" class="animate-up-1 main-img-home2">
                <div class="home2-hero-content position-relative">
                    <div class="iconbox-small1 d-none d-xl-flex wow fadeInRight default-box-shadow4 bounce-x animate-up-1 animated" style="visibility: visible; animation-name: bounceX;">
                        <span class="icon flaticon-review"></span>
                        <div class="details pl20">
                            <h6 class="mb-1">Đảm bảo chất lượng</h6>
                            <p class="text fz13 mb-0">Ưu tiên chất lượng hàng đầu</p>
                        </div>
                    </div>
                    <div class="iconbox-small2 d-none d-xl-flex wow fadeInLeft default-box-shadow4 bounce-y animate-up-2 animated" style="visibility: visible; animation-name: bounceY;">
                        <span class="icon flaticon-review"></span>
                        <div class="details pl20">
                            <h6 class="mb-1">An toàn và bảo mật</h6>
                            <p class="text fz13 mb-0">Đảm bảo an toàn và bảo mật thông tin</p>
                        </div>
                    </div>
                    <img src="~/images/about/happy-client.png" alt="" class="bounce-x bdrs16 img-1 default-box-shadow4">
                </div>
            </div>
        </div>
    </div>
</section>