<!-- Funfact -->
<section class="pb0 pt60">
    <div class="container maxw1600 bdrb1 pb60">
        <div class="row justify-content-center wow fadeInUp" data-wow-delay="300ms">
            <div class="col-6 col-md-3">
                <div class="funfact_one mb20-sm text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li><div class="timer">834</div></li>
                            <li><span>M</span></li>
                        </ul>
                        <p class="text mb-0">Total Freelancer</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="funfact_one mb20-sm text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li><div class="timer">732</div></li>
                            <li><span>M</span></li>
                        </ul>
                        <p class="text mb-0">Positive Review</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="funfact_one mb20-sm text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li><div class="timer">90</div></li>
                            <li><span>M</span></li>
                        </ul>
                        <p class="text mb-0">Order recieved</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="funfact_one mb20-sm text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li><div class="timer">236</div></li>
                            <li><span>M</span></li>
                        </ul>
                        <p class="text mb-0">Projects Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>